@using System.Collections.Generic;
@using Votr.Models;
@model IEnumerable<Poll>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Polls</h1>

@foreach (var item in Model)
{
<div class="row red">
    <div class="col-md-8 green">
        @item.Title <br/>
        my description bllaaaaaaaah!
    </div>
    <div class="col-md-2 blue text-center">
        @item.StartDate <br />
        @item.EndDate
    </div>
    <div class="col-md-2 blue text-center equal-height">
        <ul>
            <li><button class="action-button">View Results</button></li>
        </ul>
    </div>
</div>
}

<div class="row red">
    <div class="col-md-offset-4">
        <button>Create a New Poll</button>
    </div>
</div>
