@using System.Collections.Generic;
@using Votr.Models;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    List < Poll > polls = new List<Poll>();
    polls.Add(new Poll { Title = "Obama 2914", StartDate = DateTime.Now, EndDate = DateTime.Now});
    polls.Add(new Poll { Title = "Best Pizza Joint 2012", StartDate = DateTime.Now, EndDate = DateTime.Now });
    polls.Add(new Poll { Title = "Best Pizza Joint 2013", StartDate = DateTime.Now, EndDate = DateTime.Now });

}

<h1>Polls</h1>

@foreach (var item in ViewBag.Polls)
{


<div class="row red">
    <div class = "col-md-6 green">
        @item.Title <br/>
        my description blahhhhh
    </div>
    <div class="col-md-2 blue text-center">
        @item.StartDate <br />
        @item.EndDate
    </div>
    <div class = "col-md-2 blue text-center equal-height">
        <ul>
          <li><button class="action-button">View Results</button></li>
        </ul>
    </div>
</div>
}

<div class="row red">
    <div class = "col-md-4 col-md-offset-4">
        <button>Create a New Poll</button>
    </div>
</div>